.nav-list {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  margin: 10px;
  padding: 8px 16px;
  border: 1px solid #551a8b;
  border-radius: 5px;
  background: rgba(85, 26, 139, 0.1);
}
.nav-item:hover {
  color: white;
  background: rgba(85, 26, 139, 1);
}
.nav-item a:hover {
  color: white;
}
